{% extends "base.html" %}
{% block title %}
Create Security Group
{% endblock %}
{% block body %}
<div class="col-xl-8">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index.index')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('networking.security_groups')}}">Security Group</a></li>
            <li class="breadcrumb-item active">Create security group</li>
        </ol>
    </nav>
    <form class="form-validate" method="POST" action="{{url_for('networking.sg_create')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Details</h5>
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endwith %}


                <div class="mb-3 row">
                    <label for="sg_name" class="form-label">Security group name*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" required autocomplete="off">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="sg_description" class="form-label">Description*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description" required autocomplete="off">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Create security group</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}