{% extends "base.html" %}
{% block title %}
Security Groups
{% endblock %}
{% block body %}
<div class="col-xl-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index.index')}}">Home</a></li>
            <li class="breadcrumb-item active">Security Groups</li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-icon">
                    <i class="far fa-fw fa-bell"></i>
                </div>
                <div class="alert-message">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endwith %}
            <div class="float-end">
                <a class="btn btn-primary" href="{{url_for('networking.sg_create')}}" role="button"><i
                        class="fas fa-plus"></i> Create</a>
            </div>
            <h5 class="card-title mb-0">Security Groups</h5>
        </div>
        <div class="card-body">
            <table id="datatable-sgs" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sg in sgs %}
                    <tr>
                        <td><a href="{{url_for('networking.security_group', sg_id=sg['GroupId'])}}">{{sg['GroupId']}}</a></td>
                        <td>{{sg['GroupName']}}</td>
                        <td>{{sg['Description']}}</td>
                        <td><a href="{{url_for('networking.sg_delete', sg_id=sg['GroupId'])}}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Datatables clients
        $("#datatable-sgs").DataTable({
            responsive: true,
        });
    });
</script>
{% endblock %}
